opt/chatbot-ai-with-speech-recognition-device-telegram-bot-cli
usr/bin/chatbot_ai_with_speech_recognition_device_telegram_bot_cli
usr/share/chatbot_ai_with_speech_recognition_device_telegram_bot_cli
usr/local/bin/chatbot_ai_with_speech_recognition_device_telegram_bot_cli
usr/bin/chatbot-ai-with-speech-recognition-device-telegram-bot-cli
usr/share/chatbot-ai-with-speech-recognition-device-telegram-bot-cli
usr/local/bin/chatbot-ai-with-speech-recognition-device-telegram-bot-cli